<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Binus Modules</title>
</head>
<style>
    @keyframes rainbow {
   0% { color: #ff0000; } /* Red */
   16.666% { color: #ff7f00; } /* Orange */
   33.333% { color: #ffff00; } /* Yellow */
   50% { color: #00ff00; } /* Green */
   66.666% { color: #0000ff; } /* Blue */
   83.333% { color: #4b0082; } /* Indigo */
   100% { color: #9400d3; } /* Violet */
 }

 h1 {
   animation: rainbow 1s infinite; /* Adjust timing as needed */
   text-align: center;
 }
</style>
<body>
    <h1>Hello Worldddddddddzzzzz</h1>
</body>
</html>