<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style2.css">
    <title>Timetable</title>
</head>
<body>
<div class="timetable-container">
    <div class="day-names">
        <div>MON</div>
        <div>TUE</div>
        <div>WED</div>
        <div>THU</div>
        <div>FRI</div>
        <div>SAT</div>
        <div>SUN</div>
    </div>
    <div class="time-slots">
    </div>
    <div class="course-blocks">
    </div>
</div>
<script src="script.js"></script>
</body>
</html>